<h2>手に入れて、使って、尋ねて！ </h2>
現在、新機能、改善、修正に取り組んでいますので、今後の発表にご期待ください。
<div class="paragraph">
    <p>最新のリリースを<a href="{{site.baseurl}}/download" target="_blank">ダウンロード</a>してお試しください。</p>
</div>
<div class="paragraph">
    <p>ソースコードは<a href="{{ github_fork_url }}" target="_blank">GitHub</a>でホストされています。
        バグを報告したり、新機能を要求したりする必要がある場合は、<a href="{{ site.jira_issues_url }}" target="_blank">JIRA課題監視</a>で同様のものを探してください。
        見つからない場合は、<a href="{{ site.jira_issues_url }}" target="_blank">新しい課題を作成してください</a>。</p>
</div>
<div class="paragraph">
    <p>質問があったり、バグが発生していたり、Infinispanを使う上でのアドバイスが欲しい場合は、
        <a href="https://stackoverflow.com/questions/tagged/?tagnames=infinispan&sort=newest"
                       target="_blank">StackOverflow</a>をご利用ください。
        できる限り早く回答するように努めます。</p>
</div>
<div class="paragraph">
    <p>Infinispanのコミュニティでは、リアルタイムのコミュニケーションに<a href="https://zulipchat.com/"
                                        target="_blank">Zulip</a>を使用しています。
        Webブラウザまたは<a href="https://infinispan.zulipchat.com/" target="_blank">Infinispanチャット</a>上の
         <a href="https://infinispan.zulipchat.com/apps/" target="_blank">専用のアプリケーション</a>を使って参加してください。</p>
</div>