<div class="component community-values-band full-width-bg dark-bg light-blue">
  <div class="grid-wrapper">
    <div class="width-4-12 width-12-12-m">
      <h4>情報開示</h4>
      <p>私たちは、このプロジェクトがどのように機能し、誰がどのような責任を負うのかを明確にしたいと考えています。関係者全員が、どのように決定がなされ、どこで貢献できるのかを理解したいと考えています。もし、このページがプロジェクトの所有権と責任の現状を反映していないと思われる場合は、開発者用メーリングリストでプロジェクトリーダに連絡してください。</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>管理</h4>
      <p>このプロジェクトは、Java 開発者コミュニティの支援を受けて Red Hat が開発・公開しています。プロジェクトリーダーは Red Hat によって任命され、プロジェクトへの貢献を受け入れるか否か、ロードマップを設定する権限を持っています。</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>リリースサイクル</h4>
      <p>Infinispanは、メジャー(新機能とAPIの変更)、マイナー(新機能だが壊れるようなAPIの変更はない)、マイクロリリース(パッチ)をリリースしています。InfinispanのあるバージョンがRed Hat Data GridのリリースのGAに含まれると、Infinispanは次のメジャーバージョンに移行します。しかし、Infinispanは定期的にリリースされるため、オープンソースバージョンの作業は常に新鮮で最先端であり続けられます。長期的にパッチを提供してもらいたい場合は、Red Hat Data Gridの使用をお勧めします。</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>要件定義</h4>
      <p>Infinispan の要件とロードマップは、コミュニティによって推進されます。通常、メジャーリリースが計画されている場合、プロジェクトリーダーは、Red Hatコミュニティを含むコミュニティの全員からの意見を取り入れ、必要な時間内に何ができるかを評価します。これにより、特定のリリースでどのような機能に対応するかが定義されます。その後、プロジェクトリーダはロードマップをInfinispanの公式なロードマップで公開します。Infinispanの将来のリリースのための要件を提案するための最良の方法は、JIRAに機能要求を入力することです。InfinispanチームはJIRAの投票システムを使用して課題の人気度を評価していますので、コミュニティの他の人にあなたの機能要求に投票するように働きかけてください！</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>貢献</h4>
      <p>Infinispanは、コミュニティへの貢献を歓迎し、繁栄させ、大いに評価しており、貢献するためのハードルをできるだけ低くしています。貢献する前に、ドキュメントのInfinispanへの貢献のページを読むことをお勧めします。このページには、プロジェクトに採用される可能性を最大限に高めるコードの書き方のヒントや、Infinispanのコードベースで作業する際に役立つ多くの便利なヒントが含まれています。</p>
    </div>
    <div class="width-4-12 width-12-12-m">
      <h4>Red Hat Data Grid</h4>
      <p>InfinispanはRed Hat Data Gridのベースとなっているため、Infinispanに対する多くの要求はしばしばRHDGによってもたらされます。これは<a href="https://developers.redhat.com/products/datagrid/overview" target="_blank">Red Hat Developers</a>で試せます。</p>
    </div>
  </div>
</div>
