<div class="component community-contributions-band text-centered">
  <div class="grid-wrapper">
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-project.png">
      <h4>公開プロジェクト</h4>
      <p>Infinispanは、<a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache Public License 2.0</a>のもと、100%オープンソースのプロジェクトです。コードがオープンソースであり、自由に使用でき、自由に変更できるだけでなく、開発プロセスもオープンです。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-github.png">
      <h4>コードと課題追跡</h4>
      <p>ソースコードは<a href="{{ site.github_fork_url }}" target="_blank">GitHub</a>でホストされています。バグを報告したり、新機能を要求する必要がある場合は、<a href="{{ site.jira_issues_url }}" target="_blank">JIRA issues tracker</a>で同様のものを探してください。見つからない場合は、<a href="{{ site.jira_issues_url }}" target="_blank">新しい課題を作成</a>してください。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-stackoverflow.png">
      <h4>StackOverflow</h4>
      <p>質問がある場合、バグが発生している場合、Infinispanを使用する上でアドバイスが欲しい場合は、<a href="https://stackoverflow.com/questions/tagged/?tagnames=infinispan&sort=newest" target="_blank">StackOverflow</a>をご利用ください。できるだけ早くお答えできるように努力いたします。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-ettiquete.png">
      <h4>礼儀作法</h4>
      <p>助けを求めているのであれば、まず<a href="{{site.baseurl}}/documentation" target="_blank">ドキュメント</a>に目を通しましたか？そこに答えがあるかもしれません。<br/><br/>また、バグを報告する場合は、まず<a href="{{ site.jira_issues_url }}" target="_blank">バグトラッカー</a>をチェックしましたか？もしかしたら、既知の問題かもしれません。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-mail.png">
      <h4>開発者メーリングリスト</h4>
      <p>これはInfinispan自体の開発を目的としています。Infinispanが内部でどのように機能しているかについての深い技術的な議論が含まれていることが多いです。もしあなたがInfinispanに貢献しようとしているのであれば、私たちはあなたの考えやアイデア、そして<a href="https://lists.jboss.org/mailman/listinfo/infinispan-dev" target="_blank">開発者向けのメーリングリスト</a>への参加を歓迎します。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-archive.png">
      <h4>アーカイブ</h4>
      <p>Infinispanの開発者向けメーリングリストのアーカイブは、優れた検索機能を持つ<a href="http://markmail.org/search/?q=list%3Aorg.jboss.lists.infinispan-dev" target="_blank">MarkMail</a>で見れます。また、アーカイブされた<a href="http://markmail.org/search/?q=list%3Aorg.jboss.lists.infinispan-dev" target="_blank">Infinispan wiki</a>でも古いコンテンツを見つけられます。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-twitter.png">
      <h4>TwitterでInfinispanをフォロー</h4>
      <p>私たちの最新情報は、ほとんどが<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>で発信されています。プロジェクトチームが業界のイベントで講演することもあれば、人々がInfinispanを使うクールな方法を投稿することもあります。ぜひリツイートしてください。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-contactus.png">
      <h4>チャットで相談</h4>
      <p>Infinispanコミュニティでは、リアルタイムのコミュニケーションに<a href="https://zulipchat.com/" target="_blank">ZulipChat</a>を使用しています。<a href="https://infinispan.zulipchat.com/" target="_blank">Infinispanチャット</a>ではWebブラウザや<a href="https://infinispan.zulipchat.com/apps/" target="_blank">専用アプリケーション</a>を使って参加できます。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-roadmap.png">
      <h4>公開プロジェクトのロードマップ</h4>
      <p>コミュニティの今後の計画についてお読みください。これが<a href="{{site.baseurl}}/roadmap" target="_blank">現在のロードマップ</a>です。これはコミュニティによって進められているもので、あなたのニーズを教えてください。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-integration.png">
      <h4>継続的インテグレーション</h4>
      <p>Infinispanのビルドプロセスを追跡するために、<a href="https://ci.infinispan.org/" target="_blank">Jenkinsダッシュボード</a>をチェックしてください。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-word.png">
      <h4>普及活動</h4>
      <p>Infinispanコミュニティを支援する最もシンプルで簡単な方法は、プロジェクトの大使として活動すること、Twitterでフォローすること、コミュニティのイベントに顔を出すことです。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/community/icon-publications.png">
      <h4>出版物</h4>
      <p>Infinispanの興味深い使用例や実例を紹介した親切な記事やブログ記事がたくさんあります。</p>
    </div>
  </div>
</div>
