<div class="component documentation-links-band">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-get-started.png">
      <h4>入門</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.baseurl}}/get-started/" target="_blank">4つの簡単なステップでInfinispanを実行</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.quickstart}}" target="_blank">Infinispanの起動と実行</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.projects}}" target="_blank">Infinispanプロジェクトの作成</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-admin.png">
      <h4>管理者</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.server}}" target="_blank">Infinispanサーバガイド</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.cli}}" target="_blank">コマンドラインインターフェース</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.upgrade}}" target="_blank">Infinispanアップグレード</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.security}}" target="_blank">Infinispanセキュリティ</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.tuning}}" target="_blank">パフォーマンスチューニング</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-developers.png">
      <h4>開発者</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.embedded}}" target="_blank">組込みInfinispan</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.dev}}" target="_blank">開発者ガイド</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.config}}" target="_blank">Infinispan設定</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.xsite}}" target="_blank">サイト横断レプリケーション</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.rest}}" target="_blank">REST API</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.hotrod}}" target="_blank">Hot Rod Javaクライアントガイド</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.integrations}}" target="_blank">統合</a>
        </li>
      </ul>
    </div>
    <div class="width-3-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/documentation/icon-cloud.png">
      <h4>クラウド</h4>
      <ul class="chevron orange">
        <li>
          <a href="{{site.data.ispn.stable.docs.operator}}" target="_blank">Infinispan Operatorガイド</a>
        </li>
        <li>
          <a href="{{site.data.ispn.stable.docs.serverimage}}" target="_blank">Infinispanサーバイメージ</a>
        </li>
      </ul>
    </div>
  </div>
</div>
