<div class="component documentation-contactus-band full-width-bg dark-bg padding-tb-lg">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h4 class="margin-tb-sm">ソースコードに改良を加えたり、ドキュメントを書いたりしたいとお考えですか？</h4>
      <i class="fab fa-github text-orange"></i> <a href="https://infinispan.org/docs/dev/titles/contributing/contributing.html" target="_blank">ガイドの確認とPRの提出</a>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h4 class="margin-tb-sm">問題を報告、変更を提案、質問できます</h4>
      <i class="fas fa-comments text-orange"></i> <a href="{{site.baseurl}}/community" target="_blank">コミュニティへの参加</a>
    </div>
  </div>
</div>