<div class="component features-content-band">
  <div class="grid-wrapper">
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>柔軟なデプロイメントモデル</h3>
          <p>
            <ul>
              <li>アプリケーションの中でライブラリとして動作</li>
              <li>高性能なリモートアクセスが可能なサーバーとして展開</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-deployment.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-cloud.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>クラウドのための設計</h3>
          <p>
            <ul>
              <li>マイクロサービスアーキテクチャのための軽量でクラウドネイティブな設計。</li>
              <li>運用を知的にするKubernetes Operator</li>
              <li>どこでも実行可能なコンテナイメージ：OpenShift、AWS EC2、Azure、GCP</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>設定可能なデータストレージ</h3>
          <p>
            <ul>
              <li>必要に応じてデータを分散・複製するキャッシュモードを設定</li>
              <li>異なる保存形式のキー/バリュー要素をエンコード</li>
              <li>JVMのヒープまたはネイティブの「オフヒープ」メモリにデータを格納</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-data-storage.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-cluster.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>クラスタリング可能で弾力性がある</h3>
          <p>
            <ul>
              <li>設定可能な発見メカニズムにより、自動的にクラスターを形成</li>
              <li>データが配置されているノードを制御するために、一貫したハッシュを調整</li>
              <li>複数のデータセンターにまたがるグローバルなクラスターを作成</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>安全性</h3>
          <p>
            <ul>
              <li>ユーザーの役割と権限に基づいて、データへのアクセスを制御</li>
              <li>侵入や攻撃からお客様を守るために、サーバーのセキュリティ領域を定義</li>
              <li>クラスター間の通信やリモートエンドポイントを暗号化</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-secure.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-monitor.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>管理と監視</h3>
          <p>
            <ul>
              <li>Infinispanコンソールは、直感的な管理・監視機能を提供</li>
              <li>Infinispan CLIは、管理タスクのためのシンプルでパワフルなツールを提供</li>
              <li>時間経過による観察性のため、統計情報やMicroProfile互換のメトリクスを取得</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>開発者ツール</h3>
          <p>
            <ul>
              <li>Quarkusエクステンション</li>
              <li>プログラムによる使用と拡張性のためのAPI</li>
              <li>Hibernate ORM、Spring Boot、JCache、およびWildflyとの統合</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-tooling.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-plane.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>HotRodリモートプロトコル</h3>
          <p>
            <ul>
              <li>言語に依存しない、高性能なデータへのリモートアクセスのためのバイナリプロトコル</li>
              <li>クライアントの知性は、クラスターのトポロジー変更に動的に対応し、直接のオーナーにデータを要求</li>
              <li>Java、C++、C#、Pythonで実装</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>期限切れと退去</h3>
          <p>
            <ul>
              <li>データコンテナを掃除し、メモリ使用量を制御</li>
              <li>メモリ内に残るための時間制限によって排除される要素を作成</li>
              <li>要素数やメモリ量に応じて、データコンテナのサイズを制限</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-expiration.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-cache.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>永続的なキャッシュストア</h3>
          <p>
            <ul>
              <li>メモリと耐久性のある永続的な場所の両方にデータを保存</li>
              <li>キャッシュストアは、ファイル、RocksDB、JDBCなどに対応しており、すぐにご利用可能</li>
              <li>ライトスルーキャッシングを使用して、アプリケーションの高く付くデータ要求を排除</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>ACIDトランザクション</h3>
          <p>
            <ul>
              <li>分散型トランザクションでデータの整合性を確保</li>
              <li>楽観的または悲観的なロック、同期、異なる分離レベルを持つトランザクションの設定</li>
              <li>完全に回復できるXAトランザクション</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-transactions.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-search.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>検索</h3>
          <p>
            <ul>
              <li>Ickle問い合せ言語は、わかりやすい構文でリレーショナル検索とフルテキスト検索が可能</li>
              <li>データのインデックスを作成し、検索パフォーマンスを向上</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>イベントリスナ</h3>
          <p>
            <ul>
              <li>ローカルまたはクラスター化されたリスナーを配置して、イベントを検出</li>
              <li>データストアやInfinispanクラスタに変更があったときに通知を取得</li>
            </ul>
          </p>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-listeners.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/features/icon-execution.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>コード実行</h3>
          <p>
            <ul>
              <li>クラスタ間でコードを実行し、データを効率的に処理</li>
              <li>サーバーサイドのスクリプトやタスクの作成</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
