<div class="nav-wrapper">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <input type="checkbox" id="checkbox" />
      <nav id="main-nav" class="main-nav">
  <div class="container">
    <div class="logo-wrapper">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/infinispan-logo-white.png" class="project-logo" title="Infinispan Logo"></a>
    </div>
    <label class="nav-toggle" for="checkbox">
      <i class="fa fa-bars"></i>
    </label>
    <ul id="menu" class="menu">
      <li class="dropdown">
        <span href="{{site.baseurl}}/learn/">学ぶ <i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/introduction" class="{% if page.url contains '/introduction/' %}active{% endif %}">入門</a></li>
          <li><a href="{{site.baseurl}}/features" class="{% if page.url contains '/features/' %}active{% endif %}">機能</a></li>
          <li><a href="{{site.baseurl}}/documentation" class="{% if page.url contains '/documentation/' %}active{% endif %}">ドキュメンテーション</a></li>
          <li><a href="{{site.baseurl}}/tutorials" class="{% if page.url contains '/tutorials/' %}active{% endif %}">チュートリアル</a></li>
          <li><a href="{{site.baseurl}}/videos" class="{% if page.url contains '/videos/' %}active{% endif %}">ビデオ</a></li>
          <li><a href="{{site.baseurl}}/references" class="{% if page.url contains '/references/' %}active{% endif %}">参考資料</a></li>
          <li><a href="{{site.baseurl}}/experiments" class="{% if page.url contains '/experiments/' %}active{% endif %}">実験</a></li>
          <li><a href="{{site.baseurl}}/roadmap" class="{% if page.url contains '/roadmap/' %}active{% endif %}">ロードマップ</a></li>
        </ul>
      </li>
      <li>
        <a href="{{site.baseurl}}/use-cases/" class="{% if page.url contains '/use-cases/' %}active{% endif %}">使用事例</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/community/" class="{% if page.url contains '/community/' %}active{% endif %}">コミュニティ</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/blog/" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/download/" class="{% if page.url contains '/download/' %}active{% endif %}">ダウンロード</a>
      </li>
    </ul>
  </div>
      </nav>
    </div>
  </div>
</div>
