<div class="component homepage-features-band full-width-bg dark-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2>機能</h2>
    </div>
  </div>
  <div class="grid-container">
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/polyglot-access.png">
      <h4>多言語アクセス</h4>
      <p>複数のプロトコルとデータフォーマットでデータを取得出来ます。</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/resilient-data.png">
      <h4>レジリエントでフォールトトレラントなデータ</h4>
      <p>要件の厳しいワークロードに対応するために常にデータが利用可能であることを担保。</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/acid-transactions.png">
      <h4>ACID トランザクション</h4>
      <p>データの整合性を保証</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/clustered-processing.png">
      <h4>クラスタ処理</h4>
      <p>リアルタイムにデータを処理する為にリソースを最大化</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage/search.png">
      <h4>検索</h4>
      <p>データストアで値を素早く効率的に検索</p>
    </div>
  </div>
</div>