<div class="component homepage-hero-band full-width-bg dark-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h1>インメモリ分散データストア</h1>
      <div class="ctas margin-tb-lg">
        <a href="{{site.baseurl}}/get-started" class="button-cta primary">はじめに</a>
      </div>
      <h2>Infinispanとは？</h2>
      <p>Infinispanはデータを保存、管理、処理するための柔軟な展開オプションと堅牢な機能を提供するオープンソースの<b>インメモリデータグリッド</b>です。InfinispanはJavaオブジェクトからプレーンテキストまで、すべてのタイプのデータを保持できるキー/バリューデータストアを提供します。Infinispanは、柔軟にスケーラブルなクラスター全体にデータを分散して、揮発性キャッシュまたは永続データストアのどちらとして使用する場合でも、高可用性と耐障害性を保証します。</p>
    </div>
  </div>
</div>
