<div class="component references-content-band">
  <div class="grid-wrapper">
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/quarkus.png">
      <h5 class="margin-tb-sm"><a href="https://quarkus.io/" target="_blank">Quarkus</a></h5>
      <p class="text-left">Quarkusは、GraalVMとHotSpotのためにカスタマイズされたKubernetes Native Javaフレームワークであり、最良のJavaライブラリと標準規格から作られています。Quarkusの目標は、JavaをKubernetesやサーバーレス環境における主要なプラットフォームにするとともに、開発者にリアクティブとインペラティブの統一されたプログラミングモデルを提供し、より幅広い分散型アプリケーションアーキテクチャに最適に対応することです。Quarkusには、Infinispanサーバーへの接続を可能にする拡張機能が搭載されています。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/wildfly.png">
      <h5 class="margin-tb-sm"><a href="http://www.wildfly.org/" target="_blank">WildFly</a></h5>
      <p class="text-left">WildFlyは、InfinispanをベースにしたJavaEEアプリケーション・サーバーで、Webセッション、ステートフル・セッション・ビーンズなどのクラスタリングを必要とします。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/hibernate.png">
      <h5 class="margin-tb-sm"><a href="http://www.hibernate.org/orm/" target="_blank">Hibernate ORM</a></h5>
      <p class="text-left">Hibernate ORMには、Infinispanの上に構築された二次キャッシュプロバイダーがあります。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/hibernate.png">
      <h5 class="margin-tb-sm"><a href="http://www.hibernate.org/ogm/" target="_blank">Hibernate OGM</a></h5>
      <p class="text-left">Hibernate OGMはInfinispan上でCRUD操作を行うことができるので、従来のRDBMSをInfinispanに置き換えられます。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/hibernate.png">
      <h5 class="margin-tb-sm"><a href="http://www.hibernate.org/search/" target="_blank">Hibernate Search</a></h5>
      <p class="text-left">THibernate Searchは、そのLuceneインデックスをInfinispanに格納して、インデックスのリアルタイムな複製を提供できます。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/vertx.png">
      <h5 class="margin-tb-sm"><a href="http://vertx.io/" target="_blank">Vert.x</a></h5>
      <p class="text-left">Vert.xにはInfinispan Cluster Managerがあり、クラスタリングの要件をInfinispanに委ねられます。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/teiid.png">
      <h5 class="margin-tb-sm"><a href="http://teiid.org/" target="_blank">Teiid</a></h5>
      <p class="text-left">Teiidは、アプリケーションが複数の異種データストアのデータを利用できるようにするデータ仮想化システムです。特に、Infinispanをデータソースとして使用することをサポートしています。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/modeshape.png">
      <h5 class="margin-tb-sm"><a href="http://modeshape.jboss.org/" target="_blank">ModeShape</a></h5>
      <p class="text-left">ModeShapeは、JCR規格に準拠した分散型、階層型、トランザクション型、一貫性のあるデータストアです。Infinispanをリポジトリとして使用するためのInfinispanコネクタが付属しています。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/apache-camel.png">
      <h5 class="margin-tb-sm"><a href="http://camel.apache.org/" target="_blank">Apache Camel</a></h5>
      <p class="text-left">Camelはデータ統合フレームワークで、様々なドメイン固有の言語でルーティングや調停のルールを定義できます。また、Infinispanコンポーネントが付属しているため、組み込みキャッシュとリモートキャッシュの両方からデータを保存／取得／照会できます。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/apache-marmotta.png">
      <h5 class="margin-tb-sm"><a href="http://marmotta.apache.org/" target="_blank">Apache Marmotta</a></h5>
      <p class="text-left">Marmottaは、Linked Data Platformのオープンな実装です。Infinispanを使用して、Linked Dataリソースのキャッシングを提供しています。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/apiman.png">
      <h5 class="margin-tb-sm"><a href="http://apiman.io/" target="_blank">apiman</a></h5>
      <p class="text-left">ApimanはAPI管理プラットフォームであり、Infinispanをキャッシュ層として使用することでパフォーマンスを向上させます。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/capedwarf.png">
      <h5 class="margin-tb-sm"><a href="http://capedwarf.org/" target="_blank">CapeDwarf</a></h5>
      <p class="text-left">CapeDwarfは、Google App Engineに代わるオープンソースのアプリケーションで、Google App Engine向けに書かれたアプリケーションを、WildFly Application Server上でそのまま実行できます。CapeDwarfは、GAE Datastore APIの実装にInfinispanを使用しています。</p>
    </div>
    <div class="width-3-12 width-6-12-m contrib-block margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/references/immutant.png">
      <h5 class="margin-tb-sm"><a href="http://immutant.org/" target="_blank">Immutant</a></h5>
      <p class="text-left">Immutantは、Clojureライブラリの統合スイートです。Infinispanを使って構築されたキャッシュサービスを公開しています。</p>
    </div>
  </div>
</div>
