<div class="component roadmap-content-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <p>Infinispanはタイムボックス型のリリーススケジュールで、3ヶ月ごとに新しいリリースが行われます。以下のリストは、次の数回のリリースに向けた機能を示しています。サイクルの終了時に十分な品質が得られなかった場合、機能が将来のリリースに延期される可能性があることを覚えておいてください。</p>
      <img src="{{site.baseurl}}/assets/images/roadmap/roadmap.png">
      <p class="alt-type-b"> ご注意 以下のリストは、いつでも予告なしに変更される可能性があります。</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> API</span>
      <p class="margin-tb-0">
        <ul>
          <li>新しいモジュラAPI</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> 中核</span>
      <p class="margin-tb-0">
        <ul>
          <li>衝突を解決するアクティブ-アクティブ非同期サイト横断</li>
          <li>パフォーマンスとリソースの継続的な改善</li>
          <li>その場でのローリングアップグレード</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> 問い合せ</span>
      <p class="margin-tb-0">
        <ul>
          <li>リモート問い合せのためProtoBuf 3をサポート</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> セキュリティ</span>
      <p class="margin-tb-0">
        <ul>
          <li>暗号化されたパスワードのストレージ</li>
          <li>SCRAM認証機構</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> サーバ / リモート</span>
      <p class="margin-tb-0">
        <ul>
          <li>軽量サーバー</li>
          <li>新しいRESTful API</li>
        </ul>
      </p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <span class="alt-type-b"> 管理 / Monitoring</span>
      <p class="margin-tb-0">
        <ul>
          <li>コンソール改善</li>
          <li>CLI改善</li>
          <li>サポート性改善</li>
          <li>追跡性</li>
        </ul>
      </p>
    </div>
  </div>
</div>
