<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>例</h3>
      <p class="margin-tb-0">特定のInfinispanの機能や統合について、非常にシンプルでわかりやすいコード例を紹介しています。これらは全て <a href="https://github.com/infinispan/infinispan-simple-tutorials/" target="_blank" >Infinispan簡単なチュートリアルGitHubプロジェクト</a>の一部です。</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/map">Map</a>
      <p class="margin-tb-0">MapベースのAPIでのキャッシュを利用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/tx">トランザクション</a>
      <p class="margin-tb-0">トランザクションでのキャッシュの使用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/jcache">JCache</a>
      <p class="margin-tb-0">JCache APIによるキャッシュの利用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/functional">関数</a>
      <p class="margin-tb-0">関数的なラムダベースのAPIでキャッシュを利用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/remote">リモート</a>
      <p class="margin-tb-0">HotRodプロトコルでリモートキャッシュにアクセス</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/spring">Spring</a>
      <p class="margin-tb-0">Springを使ったInfinispanのBootstrap</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/openshift">OpenShift/Kubernetes</a>
      <p class="margin-tb-0">InfinispanをOpenShift v3またはKubernetesで動かす</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/operator">OpenShift/Kubernetes Operator</a>
      <p class="margin-tb-0">OpenShiftやKubernetes OperatorでInfinispanを動かす</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/cplusplus">C++</a>
      <p class="margin-tb-0">C++でHotRodプロトコルを使ってリモートキャッシュにアクセス</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/csharp">C#</a>
      <p class="margin-tb-0">C#でHotRodプロトコルを使ってリモートキャッシュにアクセス</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/javascript">Javascript</a>
      <p class="margin-tb-0">JavascriptでHotRodプロトコルを使ってリモートキャッシュにアクセス</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/replicated">複製</a>
      <p class="margin-tb-0">複製されたキャッシュの使用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/distributed">分散</a>
      <p class="margin-tb-0">分散されたキャッシュの使用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/listen">リスナ (組込み)</a>
      <p class="margin-tb-0">組み込みキャッシュのデータ変更を検知</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/remote-listen">リスナ (リモート)</a>
      <p class="margin-tb-0">リモートキャッシュのデータ変更を検知</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/query">問い合せ</a>
      <p class="margin-tb-0">キャッシュへの問い合わせ</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/scripting">リモートスクリプティング</a>
      <p class="margin-tb-0">HotRodクライアントからInfinispanサーバ上のスクリプトを実行</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/streams">ストリーム</a>
      <p class="margin-tb-0">データに対する操作するためJava Streams APIを使用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/clusterexec">Cluster Executor</a>
      <p class="margin-tb-0">キャッシュを必要としないClusterExecutorを使用して、クラスタ内のすべてのノードでコードを同時に実行</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/spark">Apache Sparkとの連携</a>
      <p class="margin-tb-0">Infinispanに格納されたデータに対するApache Sparkジョブの実行</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/counter">クラスタ化されたカウンタ</a>
      <p class="margin-tb-0">Infinispanでのクラスター化されたカウンターの使用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/hibernate-cache-local">Hibernate Cache スタンドアロン</a>
      <p class="margin-tb-0">単一ノードのスタンドアロンアプリケーションでInfinispanをHibernate Cacheプロバイダとして使用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/hibernate-cache-spring-local">Hibernate Cache Spring</a>
      <p class="margin-tb-0">単一ノードのSpringアプリケーションでInfinispanをHibernate Cacheプロバイダとして使用</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-example.png"> <a class="alt-type-b" href="{{site.baseurl}}/tutorials/simple/hibernate-cache-wildfly-local">Hibernate Cache WildFly</a>
      <p class="margin-tb-0">単一ノードのWildFlyアプリケーションでInfinispanをHibernate Cacheプロバイダとして使用</p>
    </div>
  </div>
</div>
