<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>デモ</h3>
      <p>開発者や貢献者は、時間をかけてInfinispanを使用したデモアプリケーションを開発してきました。このデモセットはInfinispanで構築されるアプリケーションの種類を紹介するもので、上記のチュートリアルよりも複雑なものです。これらのデモのサポートはベストエフォートです。これらのデモの索引は<a href="https://github.com/infinispan-demos" target="_blank">Infinispan Github Repo</a>にありますが、簡単な概要とInfinispanの主要な機能についての情報も含まれています。</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="https://github.com/infinispan-demos/harry-potter-quarkus" target="_blank">Quarkusデモ</a>
      <p class="margin-tb-0">InfinispanとQuarkusの統合例。</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="https://github.com/infinispan-demos/vertx-api" target="_blank">Eclipse Vert.xデモ</a>
      <p class="margin-tb-0">InfinispanとVert.xの統合例。</p>
    </div>
    <div class="width-3-12 width-12-12-m margin-tb-sm">
      <img src="{{site.baseurl}}/assets/images/tutorials/icon-quickstart.png"> <a class="alt-type-b" href="https://github.com/infinispan-demos/infinispan-near-cache" target="_blank">Spring-Bootデモ</a>
      <p class="margin-tb-0">InfinispanとSpringBootの統合例。</p>
    </div>
  </div>
</div>
