<div class="component use-cases-band">
  <div class="grid-wrapper">
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_boost.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>アプリケーションのパフォーマンスを向上</h3>
          <p>Infinispanは、データを処理ロジックの近くに保存することで、アプリケーションを加速します。これにより、待ち時間を短縮し、スループットを向上させます。</p>
          <p>Javaライブラリとして利用可能なので、アプリケーションの依存関係にInfinispanを追加するだけです。そうすれば、実行中のコードと同じメモリ空間にデータを保存する準備ができます。</p>
          <p>アプリケーションから独立したデータ層を配置したい場合は、Infinispan Serverを使用してインメモリパフォーマンスでデータへのリモートアクセスができます。クライアントは、一貫したハッシュ技術により、データから1つのネットワークホップだけ離れています。そして、HTTPまたはHot Rodと呼ばれるカスタムバイナリTCPプロトコルを使用してリクエストできます。</p>
          <a href="{{site.baseurl}}/use-cases/boost-application-performance" class="button-cta secondary">さらに学ぶ</a>
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-8-12 width-12-12-m block-content">
          <h3>高可用性と柔軟性を実現</h3>
          <p>Infinispanは、信頼できるオープンソースのテクノロジーを提供し、負荷の要求を満たすスケーラビリティを実現し、リソースの使用率が低下します。同時に、Infinispanはクラスタ間でデータを分散するので、単一の障害点がデータ損失の原因になることはありません。</p>
          <p>Infinispanの一般的な使用法の1つは、ユーザーのHTTPセッションなどのステートフルデータの共有ストアとしての使用です。アプリケーションは、セッションをInfinispanクラスタに外部化することで、軽量化を維持し、ヒープの使用を避けられます。これは独立したデータレイヤーとして機能します。</p>
          <a href="{{site.baseurl}}/use-cases/high-availability-and-elasticity" class="button-cta secondary">さらに学ぶ</a>
        </div>
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_highavailability.png">
        </div>
      </div>
    </div>
    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/usecase/usecase_backup.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h3>データセンターを横断したバックアップ</h3>
          <p>異なる地理的な場所で稼働しているInfinispanクラスタは、グローバルクラスタを形成して、サイト（拠点）間でデータをバックアップできます。サイトがオフラインになった場合でも、クライアントはすぐに利用可能なクラスタに切り替えられるため、データセンターの障害によるサービスの中断を防げます。</p>
          <p>Infinispan OperatorをRed Hat OpenShiftなどのKubernetes環境で使用する場合、サイト横断レプリケーション機能により、データをハイブリッドおよびマルチクラウド配備に対応できます。</p>
          <p>Infinispanは、サイト横断レプリケーションを使用している場合でも、クライアントが非同期レプリケーションを使用して異なる場所で同時書き込みを行う場合でも、データの一貫性を保証します。そのため、どこで実行しているかに関わらず、お客様のデータは常に存在し、常に正確なものになります。</p>
          <a href="{{site.baseurl}}/use-cases/backup-across-data-centers" class="button-cta secondary">さらに学ぶ</a>
        </div>
      </div>
    </div>
  </div>
</div>