<div class="component video-content-band">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/Kb46QFigx84" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Redis 対 Infinispan</h3>
      <p>Tristanは、InfinispanとRedisの違いを探り、さらに重要なこととして、Javaアプリケーションのアーキテクチャ設計に大きな影響を与える可能性のある機能を実演しながら、有益な講演を行います。</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/pXkM9tlxwHY" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan, Debezium そして Quarkus</h3>
      <p>この2つのプロジェクトの主な使用例と機能を紹介した後、デモでは、クロスサイトレプリケーションを使用して、DebeziumとInfinispanを組み合わせて、さらに素晴らしいものにする方法を探ります。これらはすべて、Quarkusによって駆動され、Apache Kafkaによって接続されています。</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/cZtV5i-o8YA" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan 10</h3>
      <p>KatiaはInfinispanの概要を説明し、Vert.xとQuarkusを使った組み込みモードとサーバーモードの両方の使用例を紹介します。このプレゼンテーションは、初心者から経験者まで、あらゆるレベルのJava開発者に適しています。</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/m_j3dz4k4xA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Infinispan 8.1.0管理コンソール</h3>
      <p>Infinispan 8.1.0のためのサーバ管理コンソールのツアーです。このビデオでは、Infinispanのクラスタとキャッシュインスタンスを監視・管理する方法を学びます。</p>
    </div>
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://player.vimeo.com/video/24825312" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>JBossクラスタの地理的フェイルオーバー</h3>
      <p>Bela Ban氏が、InfinispanクラスタがJGroups RELAYプロトコルを使用して、地理的な地域間でキャッシュ状態をバックアップする方法を紹介します。</p>
    </div>
  </div>
</div>
