---
layout: base
---

<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>

<div class="component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3>チュートリアル</h3>
      <p>チュートリアルは、一歩ずつInfinispanを理解していきましょう</p>
      <div class="grid-wrapper">
        <div class="width-1-12 width-12-12-m align-self-center">
          <img src="{{site.baseurl}}/assets/images/tutorials/icon-tutorial.png">
        </div>
        <div class="width-5-12 width-12-12-m">
          <a class="alt-type" href="https://infinispan.org/infinispan-server-tutorial/">クライアント/サーバの天気アプリのチュートリアル</a>
          <p class="margin-tb-xs">WebコンソールやリモートのHot RodクライアントからInfinispanを利用する方法をご紹介します。このチュートリアルにはJavaアプリケーションが含まれています。これはInfinispanの機能を使用して検索可能な気象監視システムにサービスを提供します。</p>
        </div>
        <div class="width-1-12 width-12-12-m align-self-center">
          <img src="{{site.baseurl}}/assets/images/tutorials/icon-tutorial.png">
        </div>
        <div class="width-5-12 width-12-12-m">
          <a class="alt-type" href="{{site.baseurl}}/tutorials/embedded/">組込みモードの天気アプリのチュートリアル</a>
          <p class="margin-tb-xs">アプリケーションにInfinispanを組み込むための完全なチュートリアルで、シンプルなローカルのみのキャッシュから完全な分散型コンピュートグリッドへと発展できます。</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include tutorials-examples-band.html %}
{% include tutorials-quickstarts-band.html %}
